doctype html
html(class="no-js", lang="ru")

    include ../../bemto/bemto.pug
    include ../components/head/head.pug
    include ../components/footer/footer.pug
    include ../components/header/header
    include ../components/text-block/text-block


    head
        +head(head.defaults)

    body
        |%=symbols=%
        .container
            +header()
            +text-block()
            +footer()




        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
