mixin footer(data)
    footer.footer
        +b.social
            +e.A(href='#').item_fb facebook
            +e.A(href='#').item_tw twitter
            +e.A(href='#').item_insta insta
        .footer-text
            p We’d love to hear your feedback. Don't be shy and <a href='#'>drop us the line</a>
