.header {
    @include clearfix;
    margin-bottom: 44px;
    @media ($tab) {
        margin-bottom: 150px;
    }
    @media ($desc1) {
        margin-bottom: 205px;
    }
    @media ($desc2) {
        margin-bottom: 201px;
    }
    &__logo-wrap {
        float: left;
        line-height: 0;
        img {
            @media ($tab) {
                width: 64px;
                height: 64px;
            }
        }
    }
}

.navigation {
    float: right;
    padding-top: 13px;
    @media ($tab) {
        padding-top: 22px;
    }
    &__item {
        color: #6441A5;
        text-decoration: none;
        font-size: 16px;
        line-height: 22px;
    }
    &__item {
        margin-left: 16px;
        @media ($tab) {
            margin-left: 44px;
        }
    }
}

.about-us {
    .header {
        @media ($tab) {
            padding-top: 4px;
            margin-bottom: 219px;
        }
    }
}

.faq {
    .header {
        @media ($tab) {
            padding-top: 4px;
            margin-bottom: 48px;
        }
        @media ($desc1) {
            margin-bottom: 90px;
        }
    }
}

.thanks {
    .header {
        @media ($tab) {
            padding-top: 4px;
            margin-bottom: 165px;
        }
        @media ($desc1) {
            margin-bottom: 221px;
        }
    }
}

.oops {
    .header {
        @media ($desc1) {
            padding-top: 4px;
        }
    }
}
