.text-block {
    margin-bottom: 44px;
    @media ($tab) {
        margin-bottom: 160px;
    }
    @media ($desc1) {
        margin-bottom: 216px;
    }
    &__main-word {
        position: relative;
        display: inline-block;
        min-width: 148px;
        color: #980D97;
        font-weight: 700;
        @media ($tab) {
            min-width: 200px;
        }
    }
    &__up {
        position: absolute;
        right: 0;
        top: 8px;
        color: #6441A5;
        text-transform: uppercase;
        font-size: 8px;
        line-height: 11px;
        opacity: .5;
        font-weight: 500;
        @media ($tab) {
            top: 13px;
        }
    }
    &__title {
        font-size: 34px;
        line-height: 48px;
        color: #26193F;
        margin-bottom: 24px;
        @media ($tab) {
            font-size: 48px;
            line-height: 72px;
        }
    }
    &__content {
        margin-bottom: 44px;
        @media ($tab) {
            margin-bottom: 84px;
        }
        p {
            color: #535059;
            font-size: 20px;
            line-height: 34px;
            margin: 26px 0;
            @media ($tab) {
                font-size: 24px;
                line-height: 40px;
            }
            .purple {
                color: #980D97;
                font-weight: 500;
            }
        }
    }
}

.btn-wrap {
    position: relative;
    text-align: center;
}

.btn-shadow {
    position: absolute;
    width: 270px;
    height: 108px;
    top: -4px;
    @include sprite-mixin-template($bg-rectangle);
    z-index: 50;
    left: 50%;
    transform: translate(-50%,0);
    transition: all .4s;
    @media ($tab) {
        width: 450px;
        @include sprite-mixin-template($bg-rectangle-tab);
    }
}

.btn-shadow_blue {
    @include sprite-mixin-template($bg-rectangle-blue);

    @media ($tab) {
        @include sprite-mixin-template($bg-rectangle-blue-tab);
    }
}

.btn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 272px;
    padding: 24px 12px 15px 0;
    text-align: center;
    font-size: 24px;
    line-height: 0;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #BA0099, #841696);
    z-index: 100;
    transform: translate(0,0);
    transition: all .4s;
    @media ($tab) {
        margin-bottom: 21px;
        width: auto;
        padding: 25px 42px 17px 42px;
    }
    span {
        display: inline-block;
        line-height: 30px;
        height: 33px;
        width: 160px;
        overflow: hidden;
        @media ($tab) {
            height: auto;
            width: auto;
        }
    }
}

.btn_blue {
    background-image: linear-gradient(to right, #0088CB, #006ACA);
    @media ($tab) {
        padding: 25px 38px 17px 40px;;
    }
    span {
        position: relative;
        width: 222px;
        text-align: right;
        @media ($tab) {
            width: 386px;
        }
        &::before {
            position: absolute;
            left: 10px;
            top: 0;
            content: '';
            display: inline-block;
            @include bg-svg($logo-telegram);
            @media ($tab) {
                left: 0;
            }
        }
    }
}

.btn:hover {
    transform: translate(0, -6px);
}

.btn:hover+.btn-shadow {
    top: 0;
}

.small-text {
    display: none;
    @media ($tab) {
        display: block;
        text-align: center;
    }
    p {
        color: #535059;
        font-size: 12px;
        line-height: 16px;
    }
}

.q-block {
    margin-bottom: 24px;
    @media ($tab) {
        margin-bottom: 44px;
    }
    &__question {
        p {
            max-width: 266px;
            margin: 0 0 16px 0;
            color: #535059;
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            @media ($tab) {
                max-width: none;
            }
        }
    }
    &__answer {
        p {
            margin: 0 0 24px 16px;
            color: #837E8C;
            font-size: 16px;
            line-height: 24px;
            @media ($desc1) {
                max-width: 940px;
            }
        }
    }
}

.about-us {
    .text-block {
        @media ($desc1) {
            margin-bottom: 281px;
        }
        &__content {
            p {
                margin: 0 0 34px 0;
                @media ($tab) {
                    max-width: 650px;
                    margin: 0px 0 40px 0;
                }
                @media (min-width: 800px) {
                    max-width: none;
                }
                @media ($desc1) {
                    max-width: 940px;
                }
            }
        }
        &__title {
            @media ($tab) {
                margin-bottom: 28px;
            }
        }
    }
}

.faq {
    .text-block {
        @media ($tab) {
            margin-bottom: 113px;
        }
        @media ($desc1) {
            margin-bottom: 118px;
        }
        &__title {
            @media ($tab) {
                margin-bottom: 35px;
            }
        }
    }
}

.thanks {
    .text-block {
        @media ($tab) {
            margin-bottom: 180px;
        }
        @media ($desc1) {
            margin-bottom: 236px;
        }
        &__content {
            p {
                max-width: 264px;
                @media (min-width: 380px) {
                    max-width: none;
                }
                @media ($tab) {
                    max-width: 650px;
                }
                @media (min-width: 780px) {
                    max-width: none;
                }
            }
        }
    }
}

.oops {
    .text-block__main-word {
        min-width: auto;
    }
}
